<div class="row">
    <div class="col-7 col-lg-8">
        <mat-card class="add-user-card">
            <mat-card-title class="register-title">Register as a Business User</mat-card-title>
            
            <div class="form-group">
                <form [formGroup]="formGroup">

                    <div class="mb-3 w-50">
                        <mat-card-title class="card-title">Company Name</mat-card-title>
                        <input type="text" class="form-control" formControlName="companyName"
                            [ngClass]="{ 'is-invalid': submitted && registerForm['companyName'].errors }">
                        <div *ngIf="submitted && registerForm['companyName'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm['companyName'].errors['required']">Company Name is required.</div>
                            <div *ngIf="registerForm['companyName'].errors['minlength']">Company Name must be at least 3 characters long.</div>
                            <div *ngIf="registerForm['companyName'].errors['maxlength']">Company Name must not exceed 30 characters.</div>
                            <div *ngIf="registerForm['companyName'].errors['pattern']">Numbers and Special Characters are not allowed.</div>
                        </div>    
                    </div>

                    <div class="mb-3 w-50">
                        <mat-card-title class="card-title">Email</mat-card-title>
                        <input type="text" class="form-control" formControlName="email"
                            [ngClass]="{ 'is-invalid': submitted && registerForm['email'].errors }">
                        <div *ngIf="submitted && registerForm['email'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm['email'].errors['required']">Email is required.</div>
                            <div *ngIf="registerForm['email'].errors['minlength']">Email must be at least 3 characters long.</div>
                            <div *ngIf="registerForm['email'].errors['maxlength']">Email must not exceed 35 characters.</div>
                            <div *ngIf="registerForm['email'].errors['email']">Email is not in the correct format.</div>
                        </div>    
                    </div>

                    <div class="mb-3 w-50">
                        <mat-card-title class="card-title">Website</mat-card-title>
                        <input type="text" class="form-control" formControlName="website"
                            [ngClass]="{ 'is-invalid': submitted && registerForm['website'].errors }">
                        <div *ngIf="submitted && registerForm['website'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm['website'].errors['required']">Website is required.</div>
                            <div *ngIf="registerForm['website'].errors['minlength']">Website must be at least 3 characters long.</div>
                            <div *ngIf="registerForm['website'].errors['maxlength']">Website must not exceed 35 characters.</div>
                        </div>    
                    </div>

                    <div class="mb-3 w-50">
                        <mat-card-title class="card-title">Username</mat-card-title>
                        <input type="text" class="form-control" formControlName="username"
                            [ngClass]="{ 'is-invalid': submitted && registerForm['username'].errors}">
                        <div *ngIf="submitted && registerForm['username'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm['username'].errors['required']">Username is required.</div>
                            <div *ngIf="registerForm['username'].errors['minlength']">Username must be at least 3 characters long.</div>
                            <div *ngIf="registerForm['username'].errors['maxlength']">Username must not exceed 30 characters.</div>
                            <div *ngIf="registerForm['username'].errors['pattern']">Special Characters are not allowed.</div>
                        </div>
                    </div>

                    <div class="mb-3 w-50">
                        <mat-card-title class="card-title">Password</mat-card-title>
                        <input type="password" class="form-control" formControlName="password"
                            [ngClass]="{ 'is-invalid': submitted && registerForm['password'].errors}">
                        <div *ngIf="submitted && registerForm['password'].errors" class="invalid-feedback">
                            <div *ngIf="registerForm['password'].errors['required']">Password is required.</div>
                            <div *ngIf="registerForm['password'].errors['minlength']">Password must be at least 10 characters long.</div>
                            <div *ngIf="registerForm['password'].errors['maxlength']">Password must not exceed 30 characters.</div>
                            <div *ngIf="registerForm['password'].errors['passwordStrength']">Your password must have lower case, upper case and numeric characters.</div>
                            <div *ngIf="registerForm['password'].errors['pattern']">Special Characters are not allowed.</div>
                        </div>
                        <div class="form-group form-check">
                            <button [disabled]="!aFormGroup.valid" type="submit" class="btn btn-primary" (click)="onSubmit()">Register</button>
                        </div>
                    </div>

                    <div class="captcha-field">
                        <form [formGroup]="aFormGroup">
                            <ngx-recaptcha2 
                                #captchaElem
                                [siteKey]="siteKey"
                                formControlName="recaptcha">
                            </ngx-recaptcha2>
                        </form>
                    </div>

                </form>

            </div>
        </mat-card>
    </div>

    <div class="col-5 col-lg-4">
            <img class="twitter-logo" src="https://cdn-icons-png.flaticon.com/512/124/124021.png">
            <div>
                <mat-card-title class="register-business">If you want to Register as a <b>Regular User</b></mat-card-title>
                <mat-card-title class="click-here" [routerLink]="['/Register-Regular']">Click Here</mat-card-title>
            </div>
    </div>

</div>