<div>
    <mat-card class="main-page-card">
        <mat-card-title class="main-page-card-title">Welcome to Twitter</mat-card-title>
        <mat-card-subtitle class="main-page-card-subtitle">Browse through your Feed</mat-card-subtitle>
    </mat-card>
</div>

<div class="row">
    <div class="col-7 col-lg-8">
        <app-tweet-list *ngIf="tweets.length > 0" [tweets]="tweets"></app-tweet-list>
    </div>
    <div class="col-5 col-lg-4">
        <mat-card class="people-suggestions-card">
            <mat-card-title class="people-suggestions-title">People you may know</mat-card-title>
            <mat-card-content *ngFor="let name of recommendations">
                <mat-card-header class="people-suggestions-header" (click)="OpenProfile(name)" >{{name}}</mat-card-header>
            </mat-card-content>
        </mat-card>
    </div>
</div>