.main-page-card {
    max-width: 1000px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.main-page-card-title {
    margin-bottom: 25px;
    text-align: center;
    font-size: 35px;
    color: blue;
}

.main-page-card-subtitle {
    text-align: center;
    font-size: 25px;
}