.add-tweet-card {
    width: 800px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    text-align: center;
    font-size: 35px;
}

.mb-3 {
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    resize: none;
}

.btn-primary {
    margin-top: 10px;
    float: right;
}

.form-control {
    width: 430px;
    height: 220px;
    resize: none;
}