<div>
    <mat-card class="recovery-pass-card">
        <mat-card-title class="recovery-pass-title mx-auto w-50">Your validation token has been sent. Check your email (general and spam)</mat-card-title>
        
        <div class="form-group mx-auto w-50">
            <form [formGroup]="formGroup">
                <div class="mb-3">
                    <mat-card-title class="card-title">Type your new password</mat-card-title>
                    <input type="password" maxlength="36" class="form-control" formControlName="newPassword"
                        [ngClass]="{ 'is-invalid': submitted && f['newPassword'].errors }">
                    <div *ngIf="submitted && f['newPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['newPassword'].errors['required']">Password is required.</div>
                        <div *ngIf="f['newPassword'].errors['minlength']">Password must be at least 10 characters long.</div>
                        <div *ngIf="f['newPassword'].errors['maxlength']">Password must not exceed 30 characters.</div>
                        <div *ngIf="f['newPassword'].errors['passwordStrength']">Your password must have lower case, upper case and numeric characters.</div>
                        <div *ngIf="f['newPassword'].errors['pattern']">Special Characters are not allowed.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <mat-card-title class="card-title">Repeat new password</mat-card-title>
                    <input type="password" maxlength="36" class="form-control" formControlName="repeatPassword"
                        [ngClass]="{ 'is-invalid': submitted && f['repeatPassword'].errors }">
                    <div *ngIf="submitted && f['repeatPassword'].errors" class="invalid-feedback">
                        <div *ngIf="f['repeatPassword'].errors['required']">Password is required.</div>
                        <div *ngIf="f['repeatPassword'].errors['minlength']">Password must be at least 10 characters long.</div>
                        <div *ngIf="f['repeatPassword'].errors['maxlength']">Password must not exceed 30 characters.</div>
                        <div *ngIf="f['repeatPassword'].errors['passwordStrength']">Your password must have lower case, upper case and numeric characters.</div>
                        <div *ngIf="f['repeatPassword'].errors['pattern']">Special Characters are not allowed.</div>
                    </div>
                    <div *ngIf="formGroup.errors?.['passwordsDontMatch']" class="invalid-password">
                        Passwords don't match.
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Recover password</button>
                
            </form>
        </div>
    </mat-card>   
</div>
