.recovery-pass-card{
    margin-top: 40px !important;
    width: 40%;
    margin: auto;
    text-align: center;
}

.recovery-pass-title{
    margin: 15px;
}

.card-title{
    font-size: 17px;
}

.btn {
    width: 40%;
}

.invalid-password{
    color: red;
    font-size: 15px;
}
