.tweet-card {
  max-width: 530px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* .tweet-user-icon {
  height: 50px;
  width: 50px;
  float: left;
} */

.tweet-user-username {
  font-size: 22px;
  margin-bottom: 20px;
  margin-left: 10px;
  color: blue;
}

.tweet-text {
  font-size: 19px;
  margin-left: 10px;
  color:black;
  margin-bottom: 20px;
  text-align: left;
}

.tweet-image {
  cursor: pointer;
}
  