<mat-card class="my-profile-card">
    <mat-card-title class="username">{{user.username}}</mat-card-title>
    <h2 class="first-name"><b>First Name: </b>{{user.firstName}}</h2>
    <h2 class="last-name"><b>Last Name: </b>{{user.lastName}}</h2>
    <h2 class="residence"><b>Residence: </b>{{user.residence}}</h2>
    <h2 class="gender"><b>Gender: </b>{{user.gender}}</h2>
    <h2 class="age"><b>Age: </b>{{user.age}}</h2>
    <mat-card-actions class="user-profile-options-card">
        <div>
            <button class="btn btn-primary">Follow</button>
        </div>
    </mat-card-actions>
</mat-card>
<div *ngIf="isPrivate()">
    <h1 class="private-text">You cannot see this Users Tweets because their profile is <b>Private</b></h1>
</div>
<div *ngIf="!isPrivate()">
    <h1 class="user-posts-text">User Tweets</h1>
    <app-tweet-list *ngIf="tweets.length > 0" [tweets]="tweets"></app-tweet-list>
</div>
