<div class="container">
    <div class="row">
        <div class="col">Slika</div>
        <div class="col col-lg-5">
            <div class="row">Username: {{user.username}}</div>
            <div class="row">Followers: 999</div>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary">Follow</button>
            <button type="button" class="btn btn-primary">Unfollow</button>
        </div>
    </div>
    <div class="row">
        <div class="col">First name: {{user.firstName}}</div>
        <div class="col">Last name: {{user.lastName}}</div>
    </div>
    <div class="row">
        <b>Tweets</b>
    </div>
</div>