<div>
    <mat-card class="verify-acc-card">
        <mat-card-title class="verify-acc-title mx-auto w-50">Your validation token has been sent. Check your email (general and spam)</mat-card-title>
        
        <div class="form-group mx-auto w-50">
            <form [formGroup]="formGroup">
                <div class="mb-3">
                    <mat-card-title class="card-title">Type your validation token</mat-card-title>
                    <input type="text" maxlength="36" class="form-control" formControlName="verificationToken"
                        [ngClass]="{ 'is-invalid': submitted && f['verificationToken'].errors }">
                    <div *ngIf="submitted && f['verificationToken'].errors" class="invalid-feedback">
                        <div *ngIf="f['verificationToken'].errors['required']">Verification token is required.</div>
                        
                    </div>
                    <div *ngIf="formGroup.errors?.['invalidToken']" class="invalid-token">
                        Your token is invalid. Try again.
                    </div>
                    <div *ngIf="formGroup.errors?.['expiredToken']" class="invalid-token">
                        Your token is expired.<br>
                        <a *ngIf="!resend" (click)="resendVerifyToken()">Resend verification token.</a>
                    </div> 
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Verify</button>
                
            </form>
        </div>
    </mat-card>   
</div>



