<div>
    <div>
        <mat-card class="change-password-card">
            <mat-card-title class="card-title-main">Change Password</mat-card-title>

            <div class="form-group">
                <form [formGroup]="formGroup">

                    <div class="mb-3 w-50">

                        <mat-card-title class="current-title">Enter Current Password</mat-card-title>
                        <input type="password" maxlength="30" class="form-control" formControlName="currentPassword"
                            [ngClass]="{ 'is-invalid': submitted && changePasswordGroup['currentPassword'].errors}">
                        <div *ngIf="submitted && changePasswordGroup['currentPassword'].errors" class="invalid-feedback">
                            <div *ngIf="changePasswordGroup['currentPassword'].errors['required']">Password is required.</div>
                            <div *ngIf="changePasswordGroup['currentPassword'].errors['minlength']">Password must be at least 3
                                characters long.</div>
                            <div *ngIf="changePasswordGroup['currentPassword'].errors['maxlength']">Password must not exceed 30
                                characters.</div>
                            <div *ngIf="changePasswordGroup['currentPassword'].errors['passwordStrength']">Your password must have lower case, upper case and numeric characters.</div>
                            <div *ngIf="changePasswordGroup['currentPassword'].errors['pattern']">Special Characters are not allowed.</div>
                        </div>

                    </div>

                    <div class="mb-3 w-50">

                        <mat-card-title class="new-title">Enter New Password</mat-card-title>
                        <input type="password" maxlength="31" class="form-control" formControlName="newPassword"
                            [ngClass]="{ 'is-invalid': submitted && changePasswordGroup['newPassword'].errors}">
                        <div *ngIf="submitted && changePasswordGroup['newPassword'].errors" class="invalid-feedback">
                            <div *ngIf="changePasswordGroup['newPassword'].errors['required']">Password is required.</div>
                            <div *ngIf="changePasswordGroup['newPassword'].errors['minlength']">Password must be at least 3
                                characters long.</div>
                            <div *ngIf="changePasswordGroup['newPassword'].errors['maxlength']">Password must not exceed 30
                                characters.</div>
                            <div *ngIf="changePasswordGroup['newPassword'].errors['passwordStrength']">Your password must have lower case, upper case and numeric characters.</div>
                            <div *ngIf="changePasswordGroup['newPassword'].errors['pattern']">Special Characters are not allowed.</div>
                        </div>

                    </div>

                    <div class="mb-3 w-50">

                        <mat-card-title class="new-title">Enter New Password Again</mat-card-title>
                        <input type="password" maxlength="31" class="form-control" formControlName="newPasswordConfirm"
                            [ngClass]="{ 'is-invalid': submitted && changePasswordGroup['newPasswordConfirm'].errors}">
                        <div *ngIf="submitted && changePasswordGroup['newPasswordConfirm'].errors" class="invalid-feedback">
                            <div *ngIf="changePasswordGroup['newPasswordConfirm'].errors['required']">Password is required.</div>
                            <div *ngIf="changePasswordGroup['newPasswordConfirm'].errors['minlength']">Password must be at least 10
                                characters long.</div>
                            <div *ngIf="changePasswordGroup['newPasswordConfirm'].errors['maxlength']">Password must not exceed 30
                                characters.</div>
                            <div *ngIf="changePasswordGroup['newPasswordConfirm'].errors['passwordStrength']">Your password must have lower case, upper case and numeric characters.</div>
                            <div *ngIf="changePasswordGroup['newPasswordConfirm'].errors['pattern']">Special Characters are not allowed.</div>
                        </div>

                    </div>

                        <button (click)="onSubmit()" class="btn btn-primary">Change</button>

                </form>
            </div>
        </mat-card>
    </div>
</div>