<div>
    <mat-card class="tweet-card">
      <mat-card-title class="tweet-username-icon">
        <mat-card-title *ngIf="this.isThatMeLoggedIn" class="tweet-user-username" [routerLink]="['/My-Profile']"> {{tweet.username}}</mat-card-title>
        <mat-card-title *ngIf="!this.isThatMeLoggedIn" class="tweet-user-username" [routerLink]="['/View-Profile', tweet.username]" (click)="sendCount()">{{tweet.username}}</mat-card-title>
      </mat-card-title>
      <mat-card-subtitle class="tweet-text">{{tweet.text}}</mat-card-subtitle>
      <img class="tweet-image" mat-card-image alt="twitter-logo-view" *ngIf="this.tweet.image" [src]="imagePath" [routerLink]="['/View-Tweet', tweet.id]">
  
      <mat-card-actions>
        <button *ngIf="isLiked" (click)="likeTweet(tweet)" mat-icon-button color="warn">
          <mat-icon class="favorite-icon">favorite</mat-icon>
        </button>
  
        <button *ngIf="!isLiked" (click)="likeTweet(tweet)" mat-icon-button color="warn">
          <mat-icon class="favorite-icon">favorite_border</mat-icon>
        </button>
  
        <b class="total-likes">{{tweet.favorite_count}}</b>
        <button mat-icon-button color="warn" class="who-liked" (click)="openDialog()">Likes</button>
  
        <button *ngIf="isRetweeted" (click)="retweet(tweet)" mat-icon-button>
          <mat-icon class="star-icon">star</mat-icon>
        </button>
  
        <button *ngIf="!isRetweeted" (click)="retweet(tweet)" mat-icon-button>
          <mat-icon class="star-icon">star_border</mat-icon>
        </button>
      </mat-card-actions>
  
  </mat-card>