<div>
    <mat-card class="recovery-pass-card">
        <mat-card-title class="recovery-pass-title mx-auto w-50">Recover password</mat-card-title>
        
        <div class="form-group mx-auto w-50">
            <form [formGroup]="formGroup">
                <div class="mb-3">
                    <mat-card-title class="card-title">Type recovery token</mat-card-title>
                    <input type="text" class="form-control" formControlName="token"
                        [ngClass]="{ 'is-invalid': submitted && form['token'].errors }">
                    <div *ngIf="submitted && form['token'].errors" class="invalid-feedback">
                        <div *ngIf="form['token'].errors['required']">Token is required.</div>
                        <!-- <div *ngIf="f['token'].errors['minlength']">Token is not valid.</div> -->
                        <!-- <div *ngIf="f['token'].errors['maxlength']">Token is not valid.</div> -->
                    </div>
                    <div *ngIf="formGroup.errors?.['invalidToken']" class="invalid-email">
                        Invalid token.
                    </div>
                    <!-- <div *ngIf="formGroup.errors?.['expiredToken']" class="invalid-token"> -->
                        <!-- Your token is expired.<br> -->
                        <!-- <a *ngIf="!resend" (click)="resendVerifyToken()">Resend verification token.</a> -->
                    <!-- </div>  -->
                </div>
                
                <button type="submit" class="btn btn-primary" (click)="onSubmit()">Request token</button>
                
            </form>
        </div>
    </mat-card>   
</div>