<mat-toolbar class="app-navbar" color="primary">
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button aria-pressed="true" mat-button mat-ripple routerLink="/Main-Page">
                <span>Main Page</span>
            </button>
            <button aria-pressed="true" mat-button mat-ripple routerLink="/Register-Regular">
                <span>Register</span>
            </button>
            <button aria-pressed="true" mat-button mat-ripple routerLink="/Login">
                <span>Login</span>
            </button>
            <!-- <button *ngIf="isLoggedIn()" mat-button mat-ripple routerLink="/myProfile">
                <span>My Profile</span>
            </button>
            <button *ngIf="isLoggedIn()" (click)="logout()" mat-button mat-ripple>
                <span>Logout</span>
            </button> -->
        </div>
    </div>
</mat-toolbar>
